<html>

<head>
    <meta charset="UTH-8">
    <title>EnglishTest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="textcenter">
            <h1 class="pagetitle">English Test Inscription</h1>
            <br />
            <a href="/index">Connexion</a>
            <br />
            <form method="post" action="inscription" class="center">
                <table>
                    <tr>
                        <td><label for="nom">Nom: </label></td>
                        <td><input type="text" id="nom" name="nom" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="prenom">Prénom: </label></td>
                        <td><input type="text" id="prenom" name="prenom" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">Email: </label></td>
                        <td><input type="email" id="email" name="email" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="pwd">Mot de passe: </label></td>
                        <td><input type="password" id="password" name="password" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <select name="ville">
                                <option value="1">L ABERGEMENT CLEMENCIAT</option>
                                <option value="2">L ABERGEMENT DE VAREY</option>
                                <option value="3">AMAREINS</option>
                                <option value="4">AMBERIEU EN BUGEY</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center"><input type="submit" value="Valider" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <footer class="center" id="footer">
        Blog réalisé par
    </footer>
</body>

</html>