<html>

<head>
    <meta charset="UTH-8">
    <title>EnglishTest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="textcenter">

            <h1 class="pagetitle">English Test Nicolas, meilleur score : 90 verbes</h1>
            <br />
            <a href="/deconnexion">Déconnexion</a>
            <br />
            <form method="post" action="jeu" class="center">
                <table>
                    <tr>
                        <td colspan="3" style="text-align: center">Question 1 : Le verbe demeurer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            abide
                        </td>
                        <td><input name="preterit" type="text" /></td>
                        <td><input name="participe_passe" type="text" /></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center">
                            <input type="submit" value="Envoyer" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <footer class="center" id="footer">
        Blog réalisé par
    </footer>
</body>

</html>